<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="APP_NAME">api-token</Property>
        <Property name="LOG_DIR">app/logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_PATTERN_COLOR">%d{HH:mm:ss.SSS} %highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=white} %style{[%t]}{magenta} %logger{36} - %msg%n</Property>
        <Property name="MAX_FILE_SIZE">10 MB</Property>
        <Property name="MAX_HISTORY">30</Property>
	</Properties>

	<Appenders>
	    <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_COLOR}" />
            <!-- Filtro: solo INFO o superior en consola -->
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
	</Appenders>
	<Loggers>
		<Root level="all" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>